.calc{
  width: 400px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  padding: 40px;
  background-color: aquamarine;
  border: 1px solid black;
}
.calc .operatonsButtons button{
  width: 40px;
  height: 40px;
  margin: 20px;  
}
.calc .inputsOfNumbers .inputNumber{
  display: inline-block;
  padding: 10px;
}
.calc .inputsOfNumbers .inputNumber label{
  display: block;
}




